<p>Id: {{ user.id }}</p>
<p>Name: {{ user.name}}</p>
<p>Surname: {{ user.surname }}</p>
<p>Age: {{ user.age }}</p>
<p>Date of birth: {{ user.dateOfBirth | date: 'dd/MMM/yyyy' }}</p>
<p style="font-weight:bold">Address:</p>
<p>City: {{ user.address.city }}</p>
<p>Street: {{ user.address.street }}</p>
<p>PostalCode: {{ user.address.postalCode }}</p>
<p>Role: {{ user.role }}</p>
<p>Username: {{ user.username }}</p>
<img class="img" [src]="user.profilePhotoUrl" width=120px height=70px>
<p>Gender: {{ user.gender }}</p>
<p style="font-weight:bold">Company: {{ user.companies[0].name }}</p>
<p>Description: {{ user.companies[0].description }}</p>
<p style="font-weight:bold">Company: {{ user.companies[1].name }}</p>
<p>Description: {{ user.companies[1].description }}</p>

